//Custom Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap");

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  height: 100%;
}

.display {
  display: flex;
  flex-direction: column;
  background: #54A5A5;

  .test {
    flex-grow: 1;
  }
}